modifikasi function-function yang ada disini (menu pos). aku ingin ketika aku sudah menambahkan 1 item saja di cart otomatis akan menyimpan transaksi dengan status draft, jadi ketika kereload data yang aku masukkan tidak hillang